<mat-nav-list>
  <div class="profile-card">
    <img  loading="lazy" src="assets/img/main.png" alt="COVID" draggable="false">
  </div>

  <mat-divider></mat-divider>
  <h1 matSubheader>DADOS</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>public</mat-icon>
    Mundo
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/brazil">
    <mat-icon> location_on</mat-icon>
    Brazil
  </a>
  

  <mat-divider></mat-divider>
  <!-- <a href='https://www.freepik.com/free-photos-vectors/infographic'>Infographic vector created by pch.vector - www.freepik.com</a> -->
  <h1 matSubheader>INFORMAÇÕES</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/symptoms">
    <mat-icon>local_hospital</mat-icon>
    Sintomas
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/prevention">
    <mat-icon> local_pharmacy</mat-icon>
    Prevenção
  </a>
  <mat-divider></mat-divider>

  <h2 matSubheader>AJUDA</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/more-information">
    <mat-icon>info</mat-icon>
    Mais informações
  </a>

</mat-nav-list>
