<mat-nav-list class="menu-control">
  <div class="profile-card">
    <img loading="lazy" src="assets/img/main.png" alt="COVID" draggable="false">
  </div>

  <mat-divider></mat-divider>
  <h1 matSubheader>DADOS</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>public</mat-icon>
    <strong> Mundo </strong>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/brazil">
    <mat-icon> location_on</mat-icon>
    <strong> Brasil </strong>
  </a>

  <mat-divider></mat-divider>

  <h1 matSubheader>INFORMAÇÕES</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/symptoms">
    <mat-icon>local_hospital</mat-icon>
    <strong> Sintomas </strong>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/prevention">
    <mat-icon> local_pharmacy</mat-icon>
    <strong> Prevenção</strong>
  </a>
  <mat-divider></mat-divider>

  <h1 matSubheader>AJUDA</h1>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/more-information">
    <mat-icon>info</mat-icon>
    <strong> Mais informações</strong>
  </a>

</mat-nav-list>
