mat-toolbar {
  a {
    text-decoration: none;
    color: black !important;
  }

  img {
    margin-left: 0.5em;
  }

  mat-icon:first-child {
    padding-bottom: 0.2em;
  }
}

.mat-menu-content {
  padding: 1em 1em !important;
  font-size: 16px;
  background-color: rgb(12, 12, 12);
  color: white;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
  button {
    width: 100%;
    margin: 1em 0;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
  }
}

@media (max-width: 359.98px) {
  .menu-list {
    li {
      width: 13% !important;
    }

    button {
      width: 100% !important;
      justify-content: center;
      vertical-align: middle;
      padding: 0;
    }
  }
}

@media (max-width: 479.98px) {
  .menu-list {
    button {
      min-width: 50%;
    }
  }
}

@media (max-width: 767.98px) {

  mat-toolbar {
    a {
      display: none !important;
    }

    img {
      display: none !important;
    }
  }

  .peixoto {
    display: none !important;
  }

  .menu-mobile {
    width: 75%;
    button{
      -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
    }
  }

  .big-info {
    display: none !important;
  }

  mat-toolbar-row {
    background-color: #242424;
  }

  .menu-list {
    width: 100%;
    justify-content: space-evenly;
    padding-inline-start: 0px;

    button {
      min-width: 10px !important;
    }
  }
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none !important;
  }
}
