<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button title="Menu" (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span><a href="#"> COVID-19 Track Brazil </a></span>

    <img src="assets/img/virus.svg" alt="logo" height="50px">

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button title="Configurações" mat-icon-button [matMenuTriggerFor]="settings">
            <mat-icon>settings</mat-icon>
          </button>

          <mat-menu #settings="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="theme">Tema</button>
            <button mat-menu-item [matMenuTriggerFor]="language">Idioma</button>
          </mat-menu>

          <mat-menu #theme="matMenu">
            <mat-button-toggle-group name="fontStyle" fxLayoutAlign="center" aria-label="Font Style">
              <mat-button-toggle value="light" (click)="sunny()">
                <mat-icon>wb_sunny</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle value="dark" (click)="cloud()">
                <mat-icon>wb_cloudy</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </mat-menu>

          <mat-menu #language="matMenu">
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
          </mat-menu>
        </li>
        <li>
          <button title="Informações" mat-icon-button>
            <mat-icon (click)="openDialog()">help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button title="Sobre mim" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">

            </button>

          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>