<mat-toolbar class="control-header">
  <mat-toolbar-row>
    <button mat-icon-button title="Menu" class="peixoto" (click)="toggleSideBar()">
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>

    <span><a href="#"> COVID-19 Tracker Brazil</a></span>

    <img loading="lazy" src="assets/img/virus.svg" alt="logo" height="50px">

    <div fxLayout="row" fxFlex="grow" fxLayoutAlign="flex-start" class="menu-mobile">
      <ul fxLayout="row" class="menu-list">
        <li>
          <button aria-label="Mundo" mat-raised-button class="pattern-theme" routerLink="/">
            <mat-icon aria-hidden="true">public</mat-icon>
          </button>
        </li>
        <li>
          <button aria-label="Brasil" mat-raised-button class="pattern-theme" routerLink="/brazil">
            <mat-icon aria-hidden="true"> location_on</mat-icon>
          </button>
        </li>
        <li>
          <button aria-label="Sintomas" mat-raised-button class="pattern-theme" routerLink="/symptoms">
            <mat-icon aria-hidden="true">local_hospital</mat-icon>
          </button>
        </li>
        <li>
          <button aria-label="Prevenção" mat-raised-button class="pattern-theme" routerLink="/prevention">
            <mat-icon aria-hidden="true"> local_pharmacy</mat-icon>
          </button>
        </li>
        <li>
          <button aria-label="Mais Informações" mat-raised-button class="pattern-theme" routerLink="/more-information">
            <mat-icon aria-hidden="true">info</mat-icon>
          </button>

        </li>
      </ul>
    </div>

    <div fxFlex fxLayout="row" class="big-info" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button title="Informações" mat-icon-button>
            <mat-icon aria-hidden="true" (click)="openDialog()">help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button title="Sobre mim" mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="true">person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="ajuste">
            <p> Olá, me chamo João Miranda, sou estudade de Engenharia da Computação no Recife, Brasil. </p>
            <p> Projetei essa dashboard como uma tentativa de combater a disseminação de informações erradas em um
              momento
              em que os fatos e a integridade do que compartilhamos são de extrema importância. Meu objetivo é fornecer
              fatos e números publicados por governos e organizações em todo o mundo.
            </p>
            Me conheça:

            <div style="display: flex; flex-direction: column;">
              <button mat-raised-button class="gth" (click)="github()" aria-label="GitHub">
                <label>GitHub</label>
              </button>

              <button mat-raised-button class="lkd" (click)="linkedin()" aria-label="Linkedin">
                <label>LinkedIn</label>
              </button>

              <button mat-raised-button class="insta" (click)="instagram()" aria-label="Instagram">
                <label> Instagram</label>
              </button>
            </div>
          </mat-menu>
        </li>
      </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
