.mat-dialog-container {
  padding-bottom: 0 !important;
  overflow: hidden;
  background-color: #121212;
  color: white;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;

  .mat-dialog-content {
    height: 90% !important;

    mat-accordion {
      mat-panel-title {
        color: white;

      }

      mat-expansion-panel-header {
        >span::after {
          color: white;
        }
      }

      mat-expansion-panel {
        background-color: rgb(29, 29, 29);
        color: white;
        -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
      }
    }

  }
}
