@import "colors.scss";

.mat-dialog-container {
  padding-bottom: 0 !important;
  overflow: hidden;
  background-color: $background;
  color: $font-pattern;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;

  .mat-dialog-content {
    height: 90% !important;

    mat-accordion {
      mat-panel-title {
        color: $font-pattern;
      }

      mat-expansion-panel-header {
        >span::after {
          color: $font-pattern;
        }
      }

      mat-expansion-panel {
        background-color: $background-first;
        color: $font-pattern;
        -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
      }
    }
  }
}
