<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          NOME
        </mat-panel-title>
        <mat-panel-description>
          DESCRIÇÃO
        </mat-panel-description>
      </mat-expansion-panel-header>
  AAAAA
    </mat-expansion-panel>
   
  </mat-accordion> -->
  
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput>
  </mat-form-field> -->
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->


<!-- Sobre esses dados
Mudam rapidamente -->
<!-- Os dados mudam rapidamente e podem não mostrar alguns dos casos que ainda não foram informados. -->
<!-- Incluem somente as pessoas testadas -->
<!-- Os casos incluem somente pessoas que tiveram testes com resultado positivo. As regras e a disponibilidade dos testes podem variar de acordo com o país. Talvez você não veja dados sobre algumas áreas porque não há registros da publicação ou da coleta recente dessas informações. -->
<!-- Por que vejo dados distintos em fontes diferentes? -->
<!-- Existem várias fontes que monitoram e agregam dados sobre o coronavírus. Essas informações são atualizadas em momentos distintos e talvez sejam coletadas de maneiras diferentes. -->



<!-- SOBRE O VLIBRAS -->
<!-- Esta versão do VLibras Widget é compatível com os seguintes navegadores:

Google Chrome

Firefox

Safari (MacOS e IOS)


É possível que outros navegadores sejam compatíveis, mas sem garantia de estabilidade. -->