@import "colors.scss";

.data-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  mat-card {
    margin-top: 1em;
    width: 100%;
  }
}

tspan,
text,
g {
  font-family: 'Roboto';
}

.mat-card {
  border-radius: 5px;
  color: $font-pattern;
  margin: 0 2em;
}

.ext {

  &:first-child {
    margin-top: 1em;
  }

  &:last-child {
    margin-bottom: 1em;
  }

  background-color: $background-first;
}

.deeper {
  background-color: $background-second;
}

.deeper-deeper {
  background-color: rgb(62, 62, 62);
}

.resp-status {
  display: flex;
  flex-direction: column;
  width: 100%;
  strong {
    font-size: 1.5em;
  }
}

.card-continenty {
  mat-card {
    margin: 0.2em 0.3em 0;

    strong {
      float: right;
      padding-top: 0.1em;
      font-size: 1.5em;
    }

    mat-icon {
      float: left;
    }
  }
}

@media (max-width: 991.98px) {
  .resp-status {
    flex-direction: row;

    mat-card {
      margin: 1em 0.5em 0;
    }
  }

  .resp-cont {
    mat-card {
      width: 100%;
      max-width: 100% !important;
    }
  }

  .card-continenty {
    flex-direction: column !important;

    mat-card {
      max-width: 100% !important;
      width: 100%;
      text-align: right;
    }
  }
}

@media (max-width: 479.98px) {
  .resp-status {
    flex-direction: column;

    mat-card {
      padding: 0 !important;

    }
  }

  .mat-card {
    margin: 0 1em;
  }
}
