// GREEN
$hover-itens: #39ff14;
$aux-safe: #5ab532;

// BLACK
$border-color: #000;
$background: #191a1c;
$background-deeper: #121315;
$background-deeper-deeper: #0b0c0f;
$side-set: #888;

// RED 
$aux-danger: #cc3300;
$aux-most-danger: #e20909;


// YELLOW
$aux-alert: #ffcc00;

$primary: #673ab7;