$primary: #bb86fc;
$font-pattern: #FFF;

// GREEN
$aux-safe: #5ab532;

// BLACK
$border-color: #000;
$background: #121212;
$background-deeper: rgb(29, 29, 29);
$background-ext: rgb(31, 31, 31);
$background-first: rgb(40, 40, 40);
$background-second: rgb(51, 51, 51);
$background-mobile: rgb(12, 12, 12);
$side-set: #888;

// RED 
$aux-most-danger: #e20909;

// YELLOW
$aux-alert: #ffcc00;





