$primary: #bb86fc;
$font-pattern: #FFF;

// GREEN
$aux-safe: #5ab532;

// BLACK
$border-color: #000;
$background: #121212;
$background-deeper: #121315;
$background-first: #1d1d1d;
$background-second: #282828;
$background-mobile: #0c0c0c;
$side-set: #888;

// RED 
$aux-most-danger: #e20909;

// YELLOW
$aux-alert: #ffcc00;





