@mixin fontePadrao {
  font-family: 'Roboto Regular' !important;
}

:root {
  @include fontePadrao;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.card {
  width: 100%;
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
}

.list-config {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;

  mat-icon {
    margin: 0;
    padding-top: 9px;
  }

  mat-list-item {
    padding: 0;
    padding-bottom: .5em;
    margin: 0;
  }
}

.list-card {
  display: flex;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  justify-content: center;

  mat-icon {
    margin: 0;
    padding-top: 11px;
    width: 30%;
    text-align: right;

  }

  mat-list-item {
    padding: 0;
    margin: 0;
    width: 70%;
    text-align: left;
  }
}

.mat-card {
  border: 1px solid #000;
  border-radius: 5px;
  color: #CCC;
  margin: 0 20px;

  &:hover {
    border: 1px solid #39ff14;
  }
}

.ext {
  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  background-color: #191a1c;
}

.deeper {
  background-color: #121315;
}

.deeper-deeper {
  background-color: #0b0c0f;
}
