@import "cardStyle.scss";
@import "tableStyle.scss";
@import "colors.scss";

@mixin fontePadrao {
  font-family: 'Roboto' !important;
}

:root {
  @include fontePadrao;
  background-color: #121212;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

p,
ol {
  font-size: 18px;
  text-align: left;
}

ul li {
  list-style: none;
}

a {
  color: black;

  &:visited {
    color: black;

  }
}

button {

  label,
  span {
    font-size: 18px;
    color: black;
  }
}

table {
  width: 100%;

  td,
  th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
}

abbr {
  cursor: help;
  text-decoration: none !important;
}

.flex {
  display: flex;
}

.chart-fit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-divider {
  border-top-color: $border-color !important;
}

.list-config {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;

  mat-icon {
    margin: 0;
    padding-top: 9px;
  }

  mat-list-item {
    padding: 0;
    padding-bottom: .5em;
    margin: 0;
  }
}

.padding-status {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;

  strong {
    padding-top: 2px;

  }
}

.pattern-theme {
  background-color: #bb86fc !important;
}
