.example-container {
  border-radius: 5px;
  background-color: $background-second !important;

  .export-buttons {
    justify-content: space-between;

    button {
      margin: 1em 0.2em;
      width: 100%;
      -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
    }
  }

  table,
  mat-form-field,
  mat-paginator {
    background-color: $background-second !important;
    color: $font-pattern !important;

    th,
    td,
    tr,
    span,
    label {
      color: $font-pattern !important;
    }

    td,
    tr {
      font-size: 1.2em;
    }
  }

  table {
    width: 100%;
    height: 536px;
  }

  mat-form-field {
    background-color: $font-pattern;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


    .mat-form-field-label-wrapper {
      color: black;
      margin-left: 1em !important;
    }
  }

  .top-form {
    width: 100%;

    input {
      padding-left: 1em;
      color: black;
      width: 100%;
    }
  }

  .mat-row {
    &:nth-child(even) {
      background-color: rgb(62, 62, 62);
    }

    &:nth-child(odd) {
      background-color: rgb(31, 31, 31);
    }
  }
}
