@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-deep-purple);
$custom-accent: mat-palette($mat-pink);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

$alt-primary: mat-palette($mat-yellow);
$alt-accent: mat-palette($mat-grey);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

// Our dark theme
.alternative {
  @include angular-material-theme($alt-theme);
}
