<div class=" example-container mat-elevation-z8">
  <!-- <mat-form-field> -->
  <!-- <mat-label>Filter</mat-label> -->
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  <!-- </mat-form-field> -->

  <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <ng-container matColumnDef="cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Confirmados </th>
      <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
    </ng-container>

    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mortes </th>
      <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
    </ng-container>

    <ng-container matColumnDef="refuses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recuperados </th>
      <td mat-cell *matCellDef="let element"> {{element.refuses}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>

</div>
