@import "generalStyles.scss";

.a {
  mat-card {
    margin-top: 1em !important;
  }

  label {
    cursor: pointer;
  }

  span {
    margin-bottom: 1em;
  }

}

.card-info {
  display: flex;
  flex-direction: column;

  a {
    button {
      width: 100%;
      max-width: 100% !important;
      word-wrap: break-word;
      margin: 0.5em auto 0.5em;
    }
  }
}

.img-caption {
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.img-info {
  width: 100%;
  height: 20%;
}

.principal {
  padding: 20em 0;
  background: url(../../../assets/img/principal.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;

  img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

$breakpoint-alpha: 700px;

.rwd-table {
  margin: 1em 0;
  background: $background-second;
  color: $font-pattern;
  border-radius: .4em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-color: lighten(#34495E, 10%);

    td:first-child {
      text-align: start;
      font-weight: 900;
      letter-spacing: 2px;
    }

    td:not(first-child) {
      font-size: 18px;
    }
  }

  th {
    display: none;
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }

    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": ";
      font-weight: bold;

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th,
  td {
    margin: .5em 1em;

    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }

    text-align: center;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  th,
  td:before {
    color: $font-pattern;
    text-transform: uppercase;
  }
}

@media (max-width: $breakpoint-alpha) {
  .table-resp {
    align-items: stretch !important;

    div {
      max-width: 100% !important;
      margin: 0;

      mat-card {
        margin: 0;
        width: auto;

      }
    }

    .rwd-table {
      width: 100%;
      margin: 0 !important;

      tr {
        td {
          text-align: start;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .stats-cards {
    flex-direction: column !important;

    mat-card {
      width: 100%;
    }
  }

  .card-info {
    margin: 0 !important;
  }
}


@media (max-width: 479.98px) {
  .rwd-table {
    width: auto;

    td::before {
      font-size: 12px;
    }
  }
}
