 <mat-card class="ext a" id="more-href">
   <div class="principal" title="COVID-19"></div>

   <h2 style="text-align: center; padding-top: 1em;"> VÍRUS </h2>

   <p>
     A doença do coronavírus (Sars-CoV-2) é uma doença infecciosa causada por um coronavírus recém-descoberto.
     A maioria das pessoas que adoece em decorrência da <dfn>COVID-19</dfn> ("CO" vem de "Corona"; "VI" vem de "Vírus"; "D" vem de
     "Doença") apresentará sintomas leves a moderados e se
     recuperará sem tratamento especial.
   </p>

   <br>
   <mat-divider></mat-divider>
   <br>

   <h2> COMO ELA SE ESPALHA </h2>
   <p>
     O vírus que causa a <dfn>COVID-19</dfn> é transmitido principalmente por meio de gotículas geradas quando uma
     pessoa infectada tosse, espirra ou exala. Essas gotículas são muito pesadas para permanecerem no ar e são
     rapidamente depositadas em
     pisos ou superfícies.
   </p>
   <p>
     Na maioria das vezes, você precisa estar perto da pessoa para que ela se espalhe dessa maneira.
     Você pode ser infectado ao inalar o vírus se estiver próximo de alguém que tenha <dfn>COVID-19</dfn> ou ao tocar em
     uma superfície contaminada e, em seguida, passar as mãos nos olhos, no nariz ou na boca.
   </p>
   <p>
     Existe a possibilidade de transmissão aerea quando exposto a um ambiente relativamente fechado e de baixa
     circulação de ar por um longo período.
   </p>

   <br>
   <mat-divider></mat-divider>
   <br>

   <h2> DESMISTIFICANDO MITOS E FAKENEWS </h2>
   <ol>
     <li>
       <p>O novo coronavirus <b>NÃO</b> pode ser transmitido através de picada de mosquitos</p>
     </li>
     <li>
       <p>Tomar um banho quente <b>NÂO</b> impede o contágio da coronavírus.</p>
     </li>
     <li>
       <p>Clima frio e neve <b>NÃO</b> podem matar o novo coronavírus.</p>
     </li>
     <li>
       <p>Os secadores de mãos <b>NÃO</b> são eficazes para matar o 2019-nCoV.</p>
     </li>
     <li>
       <p>As lâmpadas UV <b>NÃO</b> devem ser usadas para esterilizar as mãos ou outras áreas da pele, além de a
         radiação UV poder causar irritação na pele.</p>
     </li>
     <li>
       <p>A pulverização de álcool ou cloro em todo o corpo <b>NÃO</b> mata os vírus que já entraram no corpo.</p>
     </li>
     <li>
       <p>As vacinas contra pneumonia, como a vacina pneumocócica e a vacina contra o Haemophilus influenza tipo B
         (Hib), <b>NÃO</b> oferecem proteção contra o novo coronavírus.</p>
     </li>
     <li>
       <p>Antibióticos não funcionam contra vírus, apenas contra bactérias.</p>
     </li>
     <li>
       <p><b>NÃO</b> há evidências do surto atual de que comer alho tenha protegido as pessoas do novo coronavírus.
         Entretando comidas saúdaveis com propriedades antimicrobianas são sempre bem vindas.</p>
     </li>
     <li>
       <p>Até o momento <b>NÃO</b> há evidências que comprovam a eficácia da hidroxicloroquina, azitromicina ou qualquer
         outro medicamento na prevenção ou no combate a doença.</p>
     </li>
     <li>
       <p>Consumo de altas quantidades de vitamina C natural <b>NÃO</b> previnem o contágio. Não há nenhum medicamento,
         substância, vitamina, alimento específico milagroso ou vacina que possa prevenir a doença.</p>
     </li>
     <li>
       <p>MMS (Solução Mineral Milagrosa) <b>NÃO</b> possui nenhuma propriedade medicinal e seu consumo pode até matar,
         de acordo com a Anvisa.</p>
     </li>
     <li>
       <p>O novo coronavírus <b>NÃO</b> pode ser eliminado pela urina ou suor.</p>
     </li>
     <li>
       <p><b>NÃO</b> há nenhum estudo que comprove que o calor mate o vírus.</p>
     </li>
   </ol>
   <br>
   <mat-divider></mat-divider>
   <br>

   <h2>PRINCIPAIS DÚVIDAS</h2>

   <ol>
     <li>
       <p>Coronavírus tem cura? <b>SIM</b>. Mas não existe um remédio específico, siga as recomendações medicas.</p>
     </li>
     <li>
       <p>Posso espalhar o coronavírus mesmo sem sintomas? <b>SIM</b>. Esse tipo de transmissão é chamado
         de"disseminação pré-sintomática".</p>
     </li>
     <li>
       <p>Quanto tempo o vírus sobrevive em superfícies? O vírus pode sobreviver em superfícies de metal, vidro
         eplástico por até nove dias, a menos que sejam desinfetados adequadamente. Esse período pode chegar a 28 dias
         embaixas temperaturas</p>
     </li>
     <li>
       <p>Desinfetante mata o coronavírus? <b>SIM</b>.</p>
     </li>
     <li>
       <p>Qual exame detecta o coronavírus? Para detectar a presença do causador da doença é necessário realizar
         examesde biologia molecular que detecte o RNA viral, como o RT-PCR.</p>
     </li>
     <li>
       <p>Por quanto tempo a doença pode ficar incubada? Pode ficar incubada até duas semanas após o contato com o
         vírus.O período médio de incubação é de 5 dias, com intervalo que pode chegar até a 14 dias.</p>
     </li>
     <li>
       <p>O coronavírus sobrevive no ar? Um estudo do NIH mostrou que o vírus permanece por até 3 horas após ser
         expelidopor tosse, espirro ou exalado por uma pessoa infectada. </p>
     </li>
   </ol>

   <br>
   <mat-divider></mat-divider>
   <br>
   <h2>SOB CONTEXTO</h2>

   <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards table-resp">
     <div fxFlex="80">
       <table class="rwd-table">
         <tr>
           <th>Doença</th>
           <th>Casos</th>
           <th>Mortes</th>
           <th>Taxa de mortalidade</th>
         </tr>
         <tr>
           <td data-th="Doença">Gripe sazonal</td>
           <td data-th="Casos">13,000,000</td>
           <td data-th="Mortes">10,000</td>
           <td data-th="Taxa de mortalidade">0.07%</td>
         </tr>
         <tr>
           <td data-th="Doença">SARS</td>
           <td data-th="Casos">8,437</td>
           <td data-th="Mortes">813</td>
           <td data-th="Taxa de mortalidade">9.6%</td>
         </tr>
         <tr>
           <td data-th="Doença">MERS</td>
           <td data-th="Casos">2,494</td>
           <td data-th="Mortes">858</td>
           <td data-th="Taxa de mortalidade">34.4%</td>
         </tr>
         <tr>
           <td data-th="Doença">Ebola</td>
           <td data-th="Casos">34,453</td>
           <td data-th="Mortes">15,158</td>
           <td data-th="Taxa de mortalidade">43.9%</td>
         </tr>
         <tr>
           <td data-th="Doença">H1N1</td>
           <td data-th="Casos">762,630,000</td>
           <td data-th="Mortes">284,500</td>
           <td data-th="Taxa de mortalidade">0.02%</td>
         </tr>
       </table>
     </div>

     <div fxFlex="20">
       <mat-card class="deeper"><em> US Centers for Disease Control and Prevention (CDC) estimated data from 2019-20
           Season</em>
       </mat-card>
     </div>
   </div>

   <br>
   <mat-divider></mat-divider>
   <br>
   <h2> INFORME-SE (FONTES) </h2>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="grow">

       <span class="img-caption">
         <a href="https://www.who.int/" target="_blank" rel="external noreferrer noopener" class="link-fit">
           Organização Mundial da Saúde
         </a>
       </span>
       <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank"
         rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme">
           <label> Painel Principal </label>
         </button>
       </a>

       <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub "
         target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme">
           <label> Tópicos </label>
         </button>
       </a>

       <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-coronaviruses#:~:text=symptoms"
         target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme">
           <label> Perguntas Frequentes </label>
         </button>
       </a>
     </mat-card>

     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">
         <a href=" https://saude.gov.br/" target="_blank" rel="external noreferrer noopener" class="link-fit">
           Ministerio da Saúde
         </a>
       </span>
       <a href="https://coronavirus.saude.gov.br/" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme">
           <label> Painel Principal </label>
         </button>
       </a>

       <a href="https://w.tnh.health/c/5521" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme">
           <label> Chat </label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">covid19 scenarios </span>
       <a href="https://covid19-scenarios.org/" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme">
           <label> Simulador de Cenários </label>
         </button>
       </a>
     </mat-card>

     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">Semantic Scholar</span>
       <a href="https://www.semanticscholar.org/cord19" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%">
           <label> Publicações Acadêmicas </label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">dycovid</span>
       <a href="https://play.google.com/store/apps/details?id=com.mobile.dycovid" target="_blank"
         rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%;">
           <label> Áreas de Risco em Tempo Real</label>
         </button>
       </a>
     </mat-card>
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">openDataSUS</span>
       <a href="https://opendatasus.saude.gov.br/" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%; margin: inherit auto;">
           <label> Banco de Dados SUS</label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">DW</span>
       <a href="https://www.dw.com/pt-br/not%C3%ADcias/s-7111" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%;">
           <label> Página Principal</label>
         </button>
       </a>
     </mat-card>
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">BBC</span>
       <a href="https://www.bbc.com/" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%; margin: inherit auto;">
           <label> Página Principal</label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">Anvisa</span>
       <a href="http://portal.anvisa.gov.br/" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%;">
           <label> Página Principal</label>
         </button>
       </a>
       <a href="http://portal.anvisa.gov.br/coronavirus" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%;">
           <label> Página COVID-19</label>
         </button>
       </a>
     </mat-card>
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">NIH</span>
       <a href="https://www.nih.gov/" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%; margin: inherit auto;">
           <label> Página Principal</label>
         </button>
       </a>
       <a href="https://www.nih.gov/coronavirus" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%; margin: inherit auto;">
           <label> Página COVID-19</label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">CDC</span>
       <a href="cdc.gov" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%;">
           <label> Página Principal</label>
         </button>
       </a>
       <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" target="_blank"
         rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%;">
           <label> Página COVID-19</label>
         </button>
       </a>
     </mat-card>
     <mat-card class="deeper card-info" fxFlex="grow">
       <span class="img-caption">ECDC</span>
       <a href="https://www.ecdc.europa.eu/en" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%; margin: inherit auto;">
           <label> Página Principal</label>
         </button>
       </a>
       <a href="https://www.ecdc.europa.eu/en/covid-19-pandemic" target="_blank" rel="external noreferrer noopener">
         <button mat-raised-button class="pattern-theme" style="width: 100%; margin: inherit auto;">
           <label> Página COVID-19</label>
         </button>
       </a>
     </mat-card>
   </div>


 </mat-card>
