 <mat-card class="ext a">
   <div class="principal" title="COVID-19">
     <img src="assets/img/principal.jpg" loading="lazy" alt="COVID19" draggable="false">
   </div>

   <h2 style="text-align: center;"> VÍRUS </h2>

   <p>
     A doença do coronavírus (Sars-CoV-2) é uma doença infecciosa causada por um coronavírus recém-descoberto.
     A maioria das pessoas que adoece em decorrência da <dfn>COVID-19</dfn> apresentará sintomas leves a moderados e se
     recuperará
     sem
     tratamento especial.
   </p>

   <br>
   <mat-divider></mat-divider>
   <br>

   <h2> COMO ELA SE ESPALHA </h2>
   <p>
     O vírus que causa a <dfn>COVID-19</dfn> é transmitido principalmente por meio de gotículas geradas quando uma
     pessoa
     infectada
     tosse, espirra ou exala. Essas gotículas são muito pesadas para permanecerem no ar e são rapidamente depositadas em
     pisos ou superfícies.
   </p>
   <p>
     Você pode ser infectado ao inalar o vírus se estiver próximo de alguém que tenha <dfn>COVID-19</dfn> ou ao tocar em
     uma
     superfície contaminada e, em seguida, passar as mãos nos olhos, no nariz ou na boca.
   </p>

   <br>
   <mat-divider></mat-divider>
   <br>

   <h2> INFORME-SE </h2>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="50">
       <figure title="WHO">
         <a href="https://www.who.int/" target="_blank" rel="external noopener"
           style="color: white; text-decoration: none !important;"><img draggable="false" src="assets/img/WHO.png"
             alt="WHO" class="img-info">
           <figcaption class="img-caption">Organização Mundial da Saúde</figcaption>
         </a>
       </figure>

       <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank"
         rel="external noopener">
         <button mat-raised-button color="primary">
           <label> Painel Principal </label>
         </button>
       </a>

       <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub "
         target="_blank" rel="external noopener">
         <button mat-raised-button color="primary">
           <label> Topicos </label>
         </button>
       </a>

       <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-coronaviruses#:~:text=symptoms"
         target="_blank" rel="external noopener">
         <button mat-raised-button color="primary">
           <label> Perguntas Frequentes </label>
         </button>
       </a>
     </mat-card>

     <mat-card class="deeper card-info" fxFlex="50">
       <div class="flex" title="Ministério da Saúde">
         <a href=" https://saude.gov.br/" target="_blank" rel="external noopener" class="link-fit">
           <img draggable="false" loading="lazy" src="assets/img/ministerio-da-saude-logo.png" alt="ms"
             style="width: 100%;">
         </a>
       </div>

       <a href="https://coronavirus.saude.gov.br/" target="_blank" rel="external noopener">
         <button mat-raised-button color="primary" class="btn-top">
           <label> Painel Principal </label>
         </button>
       </a>

       <a href="https://w.tnh.health/c/5521" target="_blank" rel="external noopener">
         <button mat-raised-button color="primary">
           <label> Chat </label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="50">
       <span class="img-caption">covid19 scenarios </span>
       <a href="https://covid19-scenarios.org/" target="_blank" rel="external noopener">
         <button mat-raised-button color="primary" class="btn-top">
           <label> Simulador de Cenários </label>
         </button>
       </a>
     </mat-card>

     <mat-card class="deeper card-info" fxFlex="50">
       <span class="img-caption">Semantic Scholar</span>
       <a href="https://www.semanticscholar.org/cord19" target="_blank" rel="external noopener">
         <button mat-raised-button color="primary" class="btn-top" style="width: 100%">
           <label> Publicações Acadêmicas </label>
         </button>
       </a>
     </mat-card>
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
     <mat-card class="deeper card-info" fxFlex="50">
       <span class="img-caption">dycovid</span>
       <a href="https://play.google.com/store/apps/details?id=com.mobile.dycovid" target="_blank"
         rel="external noopener noopener">
         <button mat-raised-button color="primary" class="btn-top" style="width: 100%;">
           <label> Áreas de risco em tempo real</label>
         </button>
       </a>
     </mat-card>

     <mat-card class="deeper card-info" fxFlex="50">
       <span class="img-caption">openDataSUS</span>
       <a href="https://opendatasus.saude.gov.br/" target="_blank" rel="external noopener">
         <button mat-raised-button color="primary" class="btn-top" style="width: 100%; margin: inherit auto;">
           <label> Áreas de risco em tempo real</label>
         </button>
       </a>
     </mat-card>
   </div>

   <br>
   <mat-divider></mat-divider>
   <br>

   <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
     <div fxFlex="75">
       <h2>SOB CONTEXTO</h2>
       <table class="rwd-table">
         <tr>
           <th>Doença</th>
           <th>Casos</th>
           <th>Mortes</th>
           <th>Taxa de mortalidade</th>
         </tr>
         <tr>
           <td data-th="Doença">US seasonal flu*</td>
           <td data-th="Casos">13,000,000</td>
           <td data-th="Mortes">10,000</td>
           <td data-th="Taxa de mortalidade">0.07%</td>
         </tr>
         <tr>
           <td data-th="Doença">SARS</td>
           <td data-th="Casos">8,437</td>
           <td data-th="Mortes">813</td>
           <td data-th="Taxa de mortalidade">9.6%</td>
         </tr>
         <tr>
           <td data-th="Doença">MERS</td>
           <td data-th="Casos">2,494</td>
           <td data-th="Mortes">858</td>
           <td data-th="Taxa de mortalidade">34.4%</td>
         </tr>
         <tr>
           <td data-th="Doença">Ebola</td>
           <td data-th="Casos">34,453</td>
           <td data-th="Mortes">15,158</td>
           <td data-th="Taxa de mortalidade">43.9%</td>
         </tr>
         <tr>
           <td data-th="Doença">H1N1</td>
           <td data-th="Casos">762,630,000</td>
           <td data-th="Mortes">284,500</td>
           <td data-th="Taxa de mortalidade">0.02%</td>
         </tr>
       </table>
     </div>

     <div fxFlex="20">
       <mat-card class="deeper"><em> US Centers for Disease Control and Prevention (CDC) estimated data from 2019-20 Season</em>
       </mat-card>

     </div>
   </div>
 </mat-card>
