<app-loading [isLoading]="isLoading"></app-loading>

<div fxLayoutGap="1em" class="resp-sup">
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
    style="width: 100%; height: 400px; display: block; margin-bottom: 8px;"></highcharts-chart>
    <br>
  <div fxFlex="grow">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionns"
      style="width: 100%; height: 400px; display: block; margin-bottom: 8px;"></highcharts-chart>
  </div>
</div>

<div fxLayoutAlign="space-between center" class="resp-inf">

  <div fxLayout="row" fxLayoutGap="2px" class="sup" fxLayoutAlign="space-between center" fxFlex="grow">
    <mat-card fxFlex="100" class="deeper">
      <div style=" margin-bottom: 8px;" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="space-around center">
        <mat-card class="deeper-deeper" fxFlex="45">
          <mat-card-title>Confirmados</mat-card-title>
          <div class="ajuste">
            <mat-icon aria-hidden="true">check</mat-icon>
            <strong> {{arrAux[0] | number}} </strong>
          </div>
        </mat-card>
        <mat-card class="deeper-deeper" fxFlex="45">
          <mat-card-title>Mortos</mat-card-title>
          <div class="ajuste">
            <mat-icon aria-hidden="true">close</mat-icon>
            <strong> {{arrAux[1] | number}} </strong>
          </div>
        </mat-card>
      </div>
      <div style=" margin-bottom: 8px;" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="space-around center">
        <mat-card class="deeper-deeper" fxFlex="45">
          <mat-card-title>Suspeitas</mat-card-title>
          <div class="ajuste">
            <mat-icon aria-hidden="true">warning</mat-icon>
            <strong> {{arrAux[2] | number}} </strong>
          </div>
        </mat-card>
        <mat-card class="deeper-deeper" fxFlex="45">
          <mat-card-title>População</mat-card-title>
          <div class="ajuste">
            <mat-icon aria-hidden="true"> person_pin_circle</mat-icon>
            <strong> {{arrAux[3] | number}} </strong>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
<br>
  <div fxFlex="grow">
    <mat-card class="deeper">
      <p> Mostra que aproximadamente <strong style="color: yellow;"> {{arrAux[4] | number }}% </strong> de todas as pessoas
        do Brasil já esteve ou está portando o <dfn>COVID-19</dfn>.
      </p>
      <p>
        Vale suscitar que 1/5 (~20%) dos casos se concentram em apenas um estado, <abbr title="Cerca de 11,8 milhões de habitantes residem no estado, aproximadamente 5,5% da população brasileira.">São Paulo</abbr>.
      </p>
    </mat-card>
  </div>
</div>