@import "generalStyles.scss";



.center {
  text-align: left;
  margin: 0;

  label {
    color: #CCC;
  }

  strong {
    padding-left: 0.5em;
    padding-top: 0.1em;
    font-size: 2em;
  }

  .ajuste {
    padding-top: 1em;
    flex-direction: row;
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .deep-card {
    flex-direction: column !important;
    mat-card {
      max-width: 100% !important;
    }
  }
}

@media (max-width: 991.98px) {
  .sup {
    width: 100%;
    padding: 0 !important;
  }

  .resp-inf {
    display: flex;
    flex-direction: column !important;

    mat-card {
      margin: 0 !important;

      mat-card-title {
        font-size: 16px;
      }

      mat-icon {
        display: none;
      }
    }
  }

  .resp-sup {
    display: flex;
    flex-direction: column !important;
  }
}
