<app-loading [isLoading]="isLoading"></app-loading>

<div fxLayoutGap="1em" class="resp-sup">
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
    style="width: 100%; height: 400px; display: block; margin-bottom: 8px;"></highcharts-chart>
  <br>
  <div fxFlex="grow">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionns"
      style="width: 100%; height: 400px; display: block; margin-bottom: 8px;"></highcharts-chart>
  </div>
</div>

<div fxLayoutAlign="space-between center" class="resp-inf">

  <div fxLayout="row" class="sup" fxLayoutAlign="space-between center" fxFlex="grow">

    <mat-card fxFlex="100" class="deeper" style="margin: 0;">

      <div style="margin-bottom: 8px;" class="deep-card" fxLayout="row" fxLayoutGap="5px">
        <mat-card class="deeper-deeper center" fxFlex="50">
          <label for="confirmados">Confirmados</label>
          <div class="ajuste">
            <mat-card-title>
              <mat-icon aria-hidden="true">check</mat-icon>
            </mat-card-title>
            <strong> {{arrAux[0] | number}} </strong>
          </div>
        </mat-card>
        <br>
        <mat-card class="deeper-deeper center" fxFlex="50">
          <label for="mortos">Mortos</label>
          <div class="ajuste">
            <mat-card-title>
              <mat-icon aria-hidden="true">close</mat-icon>
            </mat-card-title>
            <strong> {{arrAux[1] | number}} </strong>
          </div>
        </mat-card>
      </div>

      <div style="margin-bottom: 8px;" class="deep-card" fxLayout="row" fxLayoutGap="5px">
        <mat-card class="deeper-deeper center" fxFlex="50">
          <label for="suspeitas">Suspeitas</label>
          <div class="ajuste">
            <mat-card-title>
              <mat-icon aria-hidden="true">warning</mat-icon>
            </mat-card-title>
            <strong> {{arrAux[2] | number}} </strong>
          </div>
        </mat-card>
        <br>

        <mat-card class="deeper-deeper center" fxFlex="50">
          <label for="populacao">População</label>
          <div class="ajuste">
            <mat-card-title>
              <mat-icon aria-hidden="true"> person_pin_circle</mat-icon>
            </mat-card-title>
            <strong> {{arrAux[3] | number}} </strong>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </div>

  <br>
  <div fxFlex="grow">
    <mat-card class="deeper">
      <p> Mostra que aproximadamente <strong style="color: yellow;"> {{arrAux[4] | number }}% </strong> de todas as
        pessoas
        do Brasil já esteve ou está portando o <dfn>COVID-19</dfn>.
      </p>
      <p>
        Vale suscitar que 1/5 (~20%) dos casos se concentram em apenas um estado, <abbr
          title="Cerca de 11,8 milhões de habitantes residem no estado, aproximadamente 5,5% da população brasileira.">São
          Paulo</abbr>.
      </p>
    </mat-card>
  </div>
</div>
