#spinner-loading {
    background-color: transparent;
    z-index: 3000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}