<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="chart-fit">
</highcharts-chart>
{{cabra|json}}

<mat-divider></mat-divider>
<div style="display: flex; flex-direction: column; width: 100%;">

  <div class="data-show" fxLayoutGap="5px">
    <mat-card class="deeper-deeper">
      <mat-icon>check</mat-icon>
      9.000.000.000.000
    </mat-card>

    <mat-card class="deeper-deeper">
      <mat-icon>healing</mat-icon>
      9.000.000.000.000
    </mat-card>
  </div>

  <div class="data-show" fxLayoutGap="5px">
    <mat-card class="deeper-deeper">
      <mat-icon>close</mat-icon>
      9.000.000.000.000
    </mat-card>

    <mat-card class="deeper-deeper">
      <mat-icon>warning</mat-icon>
      9.000.000.000.000
    </mat-card>
  </div>

</div>