<mat-card class="ext" id="prev-href">
  <div class="dicas">
        <img draggable="false" loading="lazy" src="assets/img/five.gif" alt="five" class="img">
        <span class="img-caption">SIGA AS 5 DICAS</span>
        <span class="img-subcaption"> Ajude a combater o coronavírus </span>
  </div>

  <mat-list class="list-adj">
    <mat-list-item (click)="openSnackBarHand()">
      Lave suas mãos regularmente.
    </mat-list-item>
    <mat-list-item (click)="openSnackBarTosse()">
      Cuidado ao tossir ou espirrar, use o cotovelo para cobrir a tosse.
    </mat-list-item>
    <mat-list-item (click)="openSnackBarFace()">
      Não tocar no seu ou em qualquer rosto.
    </mat-list-item>
    <mat-list-item (click)="openSnackBarDistanc()">
      Manter a distância segura.
    </mat-list-item>
    <mat-list-item (click)="openSnackBarHouse()">
      Não sair de casa, se possível.
    </mat-list-item>
  </mat-list>

  <br>
  <mat-divider></mat-divider>

  <p style="margin-top: 1em;">
    Proteja a si mesmo e as pessoas ao seu redor conhecendo os fatos e tomando as precauções apropriadas. Siga os
    conselhos fornecidos pela sua agência local de saúde pública.
  </p>

  <p>Para evitar a propagação da <dfn>COVID-19</dfn>:</p>

  <ol class="control-list">
    <li>Lave suas mãos com frequência. Use sabão e água ou um gel à base de álcool.</li>
    <li>Mantenha uma distância segura de qualquer pessoa que esteja tossindo ou espirrando.</li>
    <li>Não toque nos olhos, no nariz ou na boca.</li>
    <li>Quando tossir ou espirrar, cubra o nariz e a boca com o cotovelo dobrado ou um tecido.</li>
    <li>Fique em casa se você se sentir indisposto.</li>
    <li>Se você tiver febre, tosse e dificuldade para respirar, procure assistência médica. Ligue antes de sair.</li>
    <li>Siga as instruções de sua autoridade de saúde local.</li>
  </ol>

  <p class="tip"> Evite ir desnecessariamente a clínicas ou hospitais para permitir que os
    sistemas de saúde
    operem com mais
    eficiência,
    protegendo você e as outras pessoas.</p>
  <mat-divider></mat-divider>

  <h1 style="text-align: center; color: yellow; margin: 1em 0; letter-spacing: 2px;">
    <mat-icon aria-hidden="true" style="margin: 0;">warning</mat-icon> CUIDE-SE <mat-icon aria-hidden="true" style="margin: 0;">warning</mat-icon>
  </h1>

  <p> <strong> Até o momento, não há vacinas ou medicamentos específicos para a <dfn>COVID-19</dfn>.</strong></p>

  <p>
    Se apresentar algum dos sintomas, você deve descansar, beber bastante líquido e comer alimentos nutritivos. Fique em
    um quarto separado dos outros membros da sua família e use um banheiro dedicado, se possível. Limpe e desinfete as
    superfícies tocadas com frequência.
  </p>
  <p>
    Todos devem manter um estilo de vida saudável em casa. Mantenha uma dieta saudável, tenha uma boa noite de sono,
    permaneça ativo e mantenha o contato social com quem você ama através do telefone ou do Internet. As crianças
    precisam
    de mais amor e atenção dos adultos durante este momento difícil. Mantenha a rotina e os horários regulares o máximo
    possível.
  </p>
  <p>
    É normal sentir-se triste, estressado ou confuso durante uma crise. Conversar com as pessoas em quem você confia,
    como
    amigos e familiares, pode ajudar. Se você se sentir sobrecarregado, fale com um médico ou psicólogo.
  </p>
  <p>
    Se você for uma pessoal saudável e apresentar sintomas leves, faça o autoisolamento e entre em contato com seu plano
    de saúde ou com uma linha de informações sobre a COVID-19 para obter orientação.
  </p>
  <p>
    Procure assistência médica se tiver febre, tosse e dificuldade para respirar. <span style="color: yellow;"> Ligue antes
      de sair. </span>
  </p>
</mat-card>
