<p>prevention works!</p>
SIGA AS 5 DICAS
Ajude a combater o coronavírus
1MÃOSLavar frequentemente
2COTOVELOUsar para cobrir a tosse
3ROSTONão tocar
4ESPAÇOManter a distância segura
5CASANão sair, se possível


Proteja a si mesmo e as pessoas ao seu redor conhecendo os fatos e tomando as precauções apropriadas. Siga os conselhos fornecidos pela sua agência local de saúde pública.
Para evitar a propagação da COVID-19:
Lave suas mãos com frequência. Use sabão e água ou um gel à base de álcool.
Mantenha uma distância segura de qualquer pessoa que esteja tossindo ou espirrando.
Não toque nos olhos, no nariz ou na boca.
Quando tossir ou espirrar, cubra o nariz e a boca com o cotovelo dobrado ou um tecido.
Fique em casa se você se sentir indisposto.
Se você tiver febre, tosse e dificuldade para respirar, procure assistência médica. Ligue antes de sair.
Siga as instruções de sua autoridade de saúde local.
Evite ir desnecessariamente a clínicas ou hospitais para permitir que os sistemas de saúde operem com mais eficiência, protegendo você e as outras pessoas.