@import 'generalStyles.scss';

.control-list {
  li {
    margin: 0.5em 0;
  }
}

#prev-href {
  mat-list-item {
    border: 0.5px dotted #ffcc00;
    margin: 0.5em 0;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.list-adj {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
}

.dicas {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 13px 13px 26px #0c0d0e,
    -13px -13px 26px #26272a;
  background-color: $font-pattern;
  padding: 1em;
  border-radius: 8px;

  img {
    width: 25%;
    height: 100%;
    margin: 0 auto;
  }

  .img-caption {
    text-align: center;
    color: black;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin: 0.5em auto;
  }

  .img-subcaption {
    color: #767676;
    text-align: center;
    font-size: 16px;
  }
}

.tip {
  color: $aux-most-danger;
  margin: 1em 0;
}


.cdk-global-overlay-wrapper {
  div:nth-child(1) {
    snack-bar-container {
      position: absolute !important;
      top: 20%;
      margin: 0 auto;
    }
  }
}


@media (max-width: 479.98px) {
  .dicas {
    img {
      width: 100%;
    }
  }

  #prev-href {
    mat-list-item {
      margin: 2em 0;
    }
  }
}


@media (max-width: 575.98px) {
  #prev-href {
    mat-list-item {
      margin: 1em 0;
      height: 100%;
    }
  }

  .img-caption {
    margin-bottom: 16px;
    display: block;
  }

  .dicas {
    img {
      width: 50%;
    }
  }
}

@media (max-width: 767.98px) {
  .list-adj {
    width: 100%;
  }

  .dicas {
    width: 100%;
  }
}

@media (max-width: 991.98px) {}
