<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="chart-fit">
</highcharts-chart>

<br>
<mat-divider></mat-divider>
<br>

<div style="display: flex; flex-direction: column; width: 100%;">

  <div class="card-continenty" fxLayout="row">
    <mat-card class="deeper-deeper" fxFlex="grow">
      <mat-icon aria-hidden="true">check</mat-icon>
      <strong>{{cases | number }} </strong>
    </mat-card>
    <br>
    <mat-card class="deeper-deeper" fxFlex="grow">
      <mat-icon aria-hidden="true">healing</mat-icon>
      <strong>{{recovered | number }} </strong>
    </mat-card>
  </div>
  <br>
  <div class="card-continenty" fxLayout="row">
    <mat-card class="deeper-deeper" fxFlex="grow">
      <mat-icon aria-hidden="true">close</mat-icon>
      <strong>{{deaths | number }} </strong>
    </mat-card>
    <br>
    <mat-card class="deeper-deeper" fxFlex="grow">
      <mat-icon aria-hidden="true">warning</mat-icon>
      <strong>{{active | number }} </strong>
    </mat-card>
  </div>

</div>
