mat-drawer-content {
  background-color: #CCC;
}

.stats-cards {
  // background-color: red;
}

.title-card {
  margin-bottom: .5em;
  text-align: center;
  font-size: 16px;
}

.title-header{
  padding-bottom: 1em;

}