mat-drawer-content {
  background-color: #CCC;
}

.stats-cards {
  // mat-card{
  //   margin-top: 1.5em;
  // }
}

.title-card {
  margin-bottom: .5em;
  text-align: center;
  font-size: 16px;
}

.title-header{
  padding-bottom: 1em;

}