<mat-card class="ext">
  <mat-card-title class="title-header">BRASIL</mat-card-title>
  <mat-card-content>
    <app-widget-area-brazil></app-widget-area-brazil>
  </mat-card-content>
</mat-card>

<br>

<mat-card class="ext">
  <mat-card-title class="title-header">POR REGIAO</mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="5px" class="stats-cards">
    <mat-card class="deeper" fxFlex="45">
      <app-nordeste></app-nordeste>
    </mat-card>

    <mat-card class="deeper" fxFlex="45">
      <app-norte></app-norte>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="2px" class="stats-cards">
    <mat-card class="deeper" fxFlex="31">
      <app-sul></app-sul>
    </mat-card>

    <mat-card class="deeper" fxFlex="31">
      <app-suldeste></app-suldeste>
    </mat-card>

    <mat-card class="deeper" fxFlex="31" >
      <app-centro-oeste></app-centro-oeste>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center"  class="stats-cards">
   
  </div>

</mat-card>

<br>

<mat-card class="ext">
  <mat-card-title class="title-header">POR UF</mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
    <div fxFlex="50">
      <app-table-states></app-table-states>
    </div>
    <div fxFlex="50">
      <app-map-brazil></app-map-brazil>
    </div>
  </div>
</mat-card>

<br>

<mat-card class="ext">
  <mat-card-title class="title-header">MAIS ATINGIDOS</mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between " fxLayoutGap="10px" class="stats-cards">
    <div fxFlex="50">
      <app-table-brazil></app-table-brazil>
    </div>
    <div fxFlex="50">
      <!-- <mat-card class="deeper"> -->
      <app-widget-pie-brazil></app-widget-pie-brazil>
      <!-- </mat-card> -->
    </div>
  </div>
</mat-card>
