<section class="world-control">
  <mat-card class="ext">
    <mat-card-title class="title-header">MUNDO</mat-card-title>
    <mat-card-content>
      <app-widget-area-world></app-widget-area-world>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card class="ext">
    <mat-card-title class="title-header">POR CONTINENTE</mat-card-title>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="stats-cards card-continent resp-cont">
      <mat-card class="deeper " fxFlex="30">
        <app-africa-card></app-africa-card>
      </mat-card>
      <br>
      <mat-card class="deeper " fxFlex="30">
        <app-america-card></app-america-card>
      </mat-card>
      <br>

      <mat-card class="deeper " fxFlex="30">
        <app-america-norte-card></app-america-norte-card>
      </mat-card>
    </div>
    <br>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="stats-cards card-continent resp-cont">
      <mat-card class="deeper " fxFlex="30">
        <app-asia-card></app-asia-card>
      </mat-card>
      <br>

      <mat-card class="deeper " fxFlex="30">
        <app-europe-card></app-europe-card>
      </mat-card>
      <br>

      <mat-card class="deeper " fxFlex="30">
        <app-oceania-card></app-oceania-card>
      </mat-card>
    </div>
    <br>

    <mat-card class="deeper ">
      <app-map-world></app-map-world>
    </mat-card>
    <br>

  </mat-card>

  <br>

  <mat-card class="ext" style="display: flex; flex-direction: column;">
    <mat-card-title class="title-header">PAÍSES</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="space-between" class="resp-country" fxLayoutGap="10px">
      <div fxFlex="100">
        <app-table-countries></app-table-countries>
      </div>
      <br>
      <div fxFlex="grow">
        <app-dashboard-card></app-dashboard-card>
      </div>
    </div>
  </mat-card>

  <br>

  <mat-card class="ext">
    <mat-card-title class="title-header">MAIS ATINGIDOS</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards card-continent">
      <div fxFlex="100">
        <app-widget-pie-world></app-widget-pie-world>
      </div>
    </div>
  </mat-card>
  <br>
</section>
