@import 'generalStyles.scss';

footer {
  background-color: #673ab7;

  .ajuste {

    background-color: red;
    ;
  }

  a {
    text-decoration: none;
  }

  div {
    p {
      color: white;
      padding: 10px 0px 0 10px;
    }

    mat-icon {
      color: $hover-itens;
      padding: 0 3px 0 0;

    }

    a{
      padding: 0 8px 0 0;
      font-size: 18px;
    }
  }

}
