@import 'generalStyles.scss';

footer {
  background-color: #bb86fc;

  a {
    text-decoration: none;
  }

  strong {
    display: none;
  }

  div {
    p {
      color: black;
      padding: 15px 0px 0 10px;
    }

    mat-icon {
      padding: 3px 3px 0 0;
      color: black
    }

    a {
      padding: 0 8px 0 0;
      font-size: 18px;
    }
  }

}

@media (max-width: 767.98px) {
  footer {
    p {
      display: none;
    }
    strong {
      display: block;
      padding-left: 1em;
    }
  }
}
