<mat-divider></mat-divider>

<footer style="width: 100%; overflow: hidden; height: 60px;">
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
    <ul>
      <li>direitos reservados</li>
    </ul>
  </div>

  
  <div fxFlex fxLayout="row"   fxLayoutAlign="flex-start center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="RSL4JVRPQU7P4" />
      <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="Ajude um estudante universitário a se formar" alt="Faça doações com o botão do PayPal" />
      <img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1" />
      </form>
  </div>
</footer>
  
