@import "generalStyles.scss";

.search-container {
  width: 100%;

  strong {
    font-size: 1.5em;
  }

  button {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    margin-right: 1em;
    color: $font-pattern;
  }

  img {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
  }

  option {
    background-color: $background-second;
  }

  mat-form-field {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $background-second !important;
    color: $font-pattern !important;

    label {
      color: $font-pattern !important;

    }

    mat-label {
      padding-left: 1em;
    }

    select {
      padding-left: 1em;
      color: $primary;
      width: 100%;
    }
  }

  .form {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75) !important;
  }

  mat-card {
    margin: 0;
    width: 100%;
  }

  .card-title {
    margin: 0.5em 0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
  }

  .population {
    width: 50%;
  }

  .flag {
    height: 250px;
  }

  .card-fit {
    padding: 0 1em 1em;
    margin-top: 1em;
  }
}

@media (max-width: 479.98px) {
  .resp {
    flex-direction: column !important;
  }

  .card-fit {
    mat-card {
      margin-top: 1em;
      padding: 0 !important;
    }
  }
}
