<div class="search-container">
  <mat-form-field>
    <mat-label>Selecione um país para mais detalhes</mat-label>
    <select matNativeControl (change)="getCountry($event.target.value)">
      <option value="" disabled selected></option>
      <option *ngFor="let country of countries" value={{country.country}}>{{country.country}}</option>
    </select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="getCoronaData()">DETALHAR</button>

  <mat-card class="deeper card-fit flag" fxLayout="column" fxLayoutAlign="start">
    <span class="card-title"> SELECIONADO </span>
    <div class="deeper" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between">

      <img [src]="imageToShow" style="width: 50%;" *ngIf="!isImageLoading; else noImageFound">
      <ng-template #noImageFound>
        <span> CARREGANDO ...</span>
      </ng-template>
      <mat-card class="deeper-deeper population" style="display: flex; flex-direction: column;">
        <span> País: <strong>{{sigla}} / {{sigla2}}</strong> </span>
        <span> População: <strong> {{population  | number }} </strong> </span>
        <span> Continente: <strong>{{continent}}</strong> </span>
        <span> Lat: <strong>{{lat}}</strong> </span>
        <span> Long: <strong>{{long}}</strong> </span>
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="deeper card-fit" fxLayout="column" fxLayoutAlign="center">
    <span class="card-title"> CASOS </span>
    <div class="deeper" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between">
      <mat-card class="deeper-deeper">
        Total: <strong> {{cases | number }} </strong>
      </mat-card>

      <mat-card class="deeper-deeper">
        Hoje: <strong> {{todayCases | number }} </strong>
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="deeper card-fit" fxLayout="column" fxLayoutAlign="center">
    <span class="card-title"> MORTES </span>
    <div class="deeper" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between">
      <mat-card class="deeper-deeper">
        Total: <strong> {{deaths | number }} </strong>
      </mat-card>

      <mat-card class="deeper-deeper">
        Hoje: <strong> {{todayDeaths | number }} </strong>
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="deeper card-fit" fxLayout="column" fxLayoutAlign="center">
    <span class="card-title"> RECUPERADOS </span>
    <div class="deeper" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between">
      <mat-card class="deeper-deeper">
        Total: <strong> {{recovered | number }} </strong>
      </mat-card>

      <mat-card class="deeper-deeper">
        Hoje: <strong> {{todayRecovered | number }} </strong>
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="deeper card-fit" fxLayout="column" fxLayoutAlign="center">
    <span class="card-title"> STATUS </span>
    <div class="deeper" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between">
      <mat-card class="deeper-deeper">
        Ativos: <strong> {{active | number }} </strong>
      </mat-card>

      <mat-card class="deeper-deeper">
        Criticos: <strong> {{critical | number }} </strong>
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="deeper card-fit" fxLayout="column" fxLayoutAlign="center">
    <span class="card-title"> TESTES </span>
    <div class="deeper" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between">
      <mat-card class="deeper-deeper">
        Feitos: <strong> {{tests | number }} </strong>
      </mat-card>

      <mat-card class="deeper-deeper">
        p/ Milhão: <strong> {{testsPerOneMillion | number }} </strong>
      </mat-card>
    </div>
  </mat-card>
</div>
