:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {}

mat-drawer-container {
  height: 100%;
  overflow: hidden;
}

app-footer-mob{
  display: none;
  background-color: rgb(12, 12, 12);
  height: 5%;

}

mat-drawer-content {
  background-color: rgb(12, 12, 12);
}

app-footer {
  margin-bottom: 5em;
}

@media (max-width: 359.98px) {}

@media (max-width: 479.98px) {}

@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  app-footer-mob {
    display: block;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// @media (pointer: coarse) {fine

// }
