@import "colors.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
  overflow: hidden;
}

app-footer-mob{
  display: none;
  background-color: $background-mobile;
  height: 5%;
}

mat-drawer-content {
  background-color: $background;
}

app-footer {
  margin-bottom: 5em;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  app-footer-mob {
    display: block;
  }
}


