<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="chart-fit">
</highcharts-chart>
<br>
<mat-divider></mat-divider>
<div style="display: flex; flex-direction: column; width: 100%;">
  <mat-card class="deeper-deeper padding-status">
    <mat-icon>check</mat-icon>
    <strong> {{arrAux[0] | number}} </strong>
  </mat-card>

  <mat-card class="deeper-deeper padding-status">
    <mat-icon>warning</mat-icon>
    <strong> {{arrAux[2] | number}}</strong>
  </mat-card>

  <mat-card class="deeper-deeper padding-status">
    <mat-icon>close</mat-icon>
    <strong> {{arrAux[1] | number}}</strong>
  </mat-card>
</div>
