<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="card">
</highcharts-chart>
<!-- {{cabra|json}} -->
<br>
<mat-divider></mat-divider>
<div style="display: flex; flex-direction: column; width: 100%;">

  <mat-list class="list-card">
    <mat-icon>check</mat-icon>
    <mat-list-item> {{cabra[3]}}</mat-list-item>
  </mat-list>

  <mat-list class="list-card">
    <mat-icon>healing</mat-icon>
    <mat-list-item> {{cabra[2]}}</mat-list-item>
  </mat-list>

  <mat-list class="list-card">
    <mat-icon>close</mat-icon>
    <mat-list-item> {{cabra[1]}}</mat-list-item>
  </mat-list>

  <mat-list class="list-card">
    <mat-icon>warning</mat-icon>
    <mat-list-item> {{cabra[0]}}</mat-list-item>
  </mat-list>
</div>
