<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="chart-fit">
</highcharts-chart>
<br>
<mat-divider></mat-divider>
<div class="resp-status">
  <mat-card class="deeper-deeper padding-status">
    <mat-icon aria-hidden="true">check</mat-icon>
    <strong> {{arrAux[0] | number}} </strong>
  </mat-card>

  <mat-card class="deeper-deeper padding-status">
    <mat-icon aria-hidden="true">warning</mat-icon>
    <strong> {{arrAux[2] | number}}</strong>
  </mat-card>

  <mat-card class="deeper-deeper padding-status">
    <mat-icon aria-hidden="true">close</mat-icon>
    <strong> {{arrAux[1] | number}}</strong>
  </mat-card>
</div>
